@import url(root.css);

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
    /* border: 2px solid black; */
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ml-30 {
    margin-left: 30px;
}

.mt-120 {
    margin-top: 120px;
}

.text {
    color: #4F5665;
}

.same {
    color: #0B132A;
  

}

.btn1 {
    border: 2px solid #F53855;
    border-radius: 50px;
    padding: 8px 28px;
    display: inline-block;
}
.position-absolute4{
    position: absolute;
    right: 100px;
}
.bg-color5 {
    background-color: #f8f8f8;
}

.mw-427 {
    max-width: 427px;
}

.text-red {
    color: red;
}

.transform_translateY {
    transform: translateY(10%);
}

.btn2 {
    border: 2px solid #F53855;
    border-radius: 10px;
    padding: 11px 60px;
    background-color: red;
    color: #fff;
    box-shadow: 0px 35px 50px -16px #F53838;
    margin-right: 100px;
}

.btn3 {
    border: 2px solid #F53855;
    border-radius: 50px;
    padding: 8px 60px;
    background-color: #fff;
    text-align: center;

}

.box:hover {
    border-color: #F53838;
}

.circle {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #FFECEC;
}

.card {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #fff;

}

.pt-100 {
    padding-top: 100px;
}

.line {
    position: relative;
}

.pt-60 {
    padding-top: 60px;
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-190 {
    padding-top: 190px;
}

.get {
    max-width: 370px;
}

.pt-143 {
    padding-top: 143px;
}

.pl-10 {
    padding-left: 10px;
}

.br-10 {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb {
    background: orangered !important;
    border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: orangered !important;
}

.box {
    border-radius: 10px;
    border: 2px solid #DDD;
    background: #FFF;
    height: 100%;
}

.color {
    color: #4F5665;
}

.ellipse {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.btn3:hover {
    background-color: #F53855;
    color: #FFF;
}

.bg-color3 {
    background-color: #f5f5f5;
}

.mw-384 {
    max-width: 384px;
}

.ml-50 {
    margin-left: 50px;
}

.card2 {
    border: 2px solid #DDD;
    border-radius: 10px;
    padding: 25px;
    min-height: 230px;
}

.best {
    color: #0B132A
}


.slick-track {
    display: flex !important;

}

.slick-slider {
    display: flex !important;
    height: inherit !important;
}

.slick-slider>div {
    display: flex;
}

.position-absolute {
    position: absolute;
    z-index: 1;
    background-color: #FFF;
    display: flex;
    justify-content: center;
}


.circle3 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.circle2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;

}

.text3 {
    color: #AFB5C0;
}

.footer-text {
    color: #4F5665;

}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #000;
}

.slick-dots li button:before {

    font-family: slick;
    font-size: 25px !important;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: -570px !important;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: left;
    opacity: .25;
    color: #000;
}

.slick-dots li.slick-active button::before {
    text-align: left;
    color: #F53838 !important;
}

.footer-text1 {
    color: #0B132A;

}

.transform_translateY_37 {
    transform: translateY(37%) !important;
}

.card2:hover {
    border-color: #F53838;
}

.circle2:hover {
    background-color: #F53838;

}

.mw-555 {
    max-width: 555px;
}

@media (max-width:1200px) {
    label[for="menubar"] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        position: relative;
        z-index: 4;
        cursor: pointer;
        flex-direction: column;

    }

    label[for="menubar"]>span {
        width: 100%;
        height: 4px;
        background-color: rgb(205, 182, 51);
        border-radius: 3px;

    }

    ul.mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 3;
        background-color: goldenrod;
        transition: all 300ms linear;
    }
        .position-sticky {
            position: sticky;
            top: 0;
            z-index: 6;
            background-color: #FFF;
        }

    input[type="checkbox"][id=menubar]:checked+ul.mobile-view {
        left: 0;
    }

}

@media(min-width:992px) {

    .line::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        right: 0;
        background-color: #EEEFF2;
    }

    .line::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        right: 0;
        background-color: #FFF;
    }

    .same {
        padding-left: 150px;

    }
}